.col {
    display: inline-block;
  background-color: #003C7D;
  width: 50px;
  height: 50px;
}

.row {
  height: 50px;
  display: inline-block;
}

.empty {
  background-color: #F47F24;
}

.red {
  background-color: #F47F24;
}

.white {
  background-color: white;
}

.piece {
  margin: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.number {
  background-color: blue;
  color: orange;
}