<div class='intro'>
<h2>Quizzy Quiz</h2>

<p>Your single page app should go here.</p>
</div>

<script type="text/template" class="all-quiz-template">
  <h1>Select a Quiz!</h1> 
  <%% _.each(content, function(element){ %>
    <button class="quiz-title" data-id=<%%=element.id%>><%%= element.title %></button></br>
  <%% }); %>
</script>

<script type="text/template" class="quiz-template">
  <h1>Question</h1>
  <%% _.each(content, function(element){ %>
    <h3><%%=element.question%></h3>
    <h1>Answers</h1>
    <p><%%=element.choices%></p>
  <%% }); %>
</script>