<div class='intro'>
<h2>Quizzy Quiz</h2>

<p>Your single page app should go here.</p>
</div>

<div class="all-quizzes">
<script type="text/template" class="all-quiz-template">
  <h1>Select a Quiz!</h1> 
  <%% _.each(content, function(element){ %>
    <button class="quiz-title" data-id=<%%=element.id%>><%%= element.title %></button></br>
  <%% }); %>
</script>
</div>

<div class="one-quiz">
<script type="text/template" class="quiz-template">
  <h1>Question</h1>
    <h3><%%=content.question%></h3>
    <h3>Choices</h3>
    <%% _.each(options, function(element){ %>
      <button class="quiz-choice" id=<%%=element%>><%%=element%></button><br><br>
    <%% }); %>
</script>
</div>



<div class="display">
</div>